# ——————————————
# IDE / Editor
# ——————————————
# IntelliJ / PhpStorm
.idea/
*.iml

# ——————————————
# Системные файлы
# ——————————————
.DS_Store
Thumbs.db

# ——————————————
# PHP / Composer
# ——————————————
vendor/
composer.lock   # по договорённости можно или включать, или игнорить
.env            # если есть локальный конфиг с секретами

# ——————————————
# Логи, кэш, временные файлы
# ——————————————
*.log
tmp/
cache/
